<div class="intro">
  <section>
    <p>This application is built on Node.js. It searches the iTunes Store using iTunes API by track name, artist name, or collection
      name.
    </p>
  </section>
</div>